{
  "env": {
    "node": true
  },
  "rules": {
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "consistent-return": 0,
    "curly": [1, "multi-line"],
    dot-notation: 2,
    "eqeqeq": 2,
    "indent": [2, 2, {"SwitchCase": 1}],
    "max-len": [2, 80, 4, {
        ignoreComments: true, 
        ignoreUrls: true, 
        ignorePattern: "\\/"
      }
    ],
    "no-multiple-empty-lines": 2,
    "no-throw-literal": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "none"
    }],
    "no-use-before-define": [2, "nofunc"],
    "object-curly-spacing": [2, "always"],
    "quote-props": [2, "as-needed"],
    "quotes": [1, "single"],
    "radix": 2,
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "semi-spacing": 2,
    "keyword-spacing": [2, {
        "overrides": { },
        "before": true,
        "after": true
        }],
    "space-in-parens": [2, "never"],
    "space-unary-ops": [2, {
      "words": true,
      "nonwords": false
    }],
    "no-trailing-spaces": [2, { "skipBlankLines": false }],
    "strict": [2, "global"],
    "wrap-iife": [2, "inside"]
  }
}
